@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html {
	background-color: azure;
}

body {
	font-family: 'Roboto Condensed', 'Segoe UI';
	/*font-size: 160%;*/
	margin: 1% 20%;
	font-size: 20px;
	padding: 1% 1%;
	background-color: whitesmoke;
}
:target {
	animation: highlight 1.5s ease forwards;
	border-radius: 4px;
}
p {
	text-align: justify;
	text-indent: 48px;
}

	p::first-letter {
		font-size: 32px;
		font-family: 'Segoe Print';
	}

figure {
	text-align: center;
	font-style: italic;
	font-weight: 100;
}

ul {
	/*list-style: none;*/
}

a {
	text-decoration: none;
}

	a:active {
		color: green;
	}

	a:visited {
		color: darkgreen;
	}

	a:hover {
		font-weight: 800;
		color: black;
	}



@keyframes highlight {
	0% {
		background-color: cadetblue;
	}

	50% {
		background-color: aquamarine;
	}

	100% {
		background-color: transparent;
	}
}
